@using Veterinaria.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar Sesión";
}


<p>




</p>

<div class="container">
    <div class="card border-success">
        <div class="card-header text-white bg-success text-center">
            <h2><b>Iniciar Sesión</b></h2>
        </div>
        <div class="card-body">
            
            <div class="row">
                <div class="col-md-12">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Usar una cuenta local para iniciar sesión.</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                                <label class="col-md-2"><b>Correo Electrónico</b></label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                                <label class="col-md-2"><b>Contraseña</b></label>
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @*@Html.LabelFor(m => m.RememberMe)*@
                                        ¿Recordar contraseña?
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">
                                    <input type="submit" value="Iniciar Sesión" class="btn btn-success" />
                                </div>
                            </div>
                            <p>
                                @Html.ActionLink("Registrarse como nuevo usuario", "Register")
                            </p>
                            @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
                        }
                    </section>
                </div>

            </div>

        </div>
        <div class="card-footer text-white bg-success text-center">
            <h2><b>VetMed</b></h2>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}