@model Veterinaria.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<p>




</p>

<div class="container">
    <div class="card border-success">
        <div class="card-header text-white bg-success text-center">
            <h2><b>Registro</b></h2>
        </div>
        <div class="card-body">


            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Crear una nueva cuenta.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                    <label class="col-md-2"><b>Correo Electrónico</b></label>
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                    <label class="col-md-2"><b>Contraseña</b></label>
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                    <label class="col-md-2"><b>Confirmar Contraseña</b></label>
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">
                        <input type="submit" class="btn btn-success" value="Registrar" />
                    </div>
                </div>
            }


        </div>
        <div class="card-footer text-white bg-success text-center">
            <h2><b>VetMed</b></h2>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
