@model Boutique.Web.Models.Article

@{
    ViewBag.Title = "Details";
}






<body style="background-color:antiquewhite">
    <div class="row" style="margin-top:30px">
        <div class="col-md-12">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="card text-white bg-dark mb-3" style="max-width: 40rem;  margin:0 auto">
                        <h4 style="font-weight: bolder; text-align:center; margin-bottom:-5px">Detalles</h4>
                        <hr />
                        <div class="card-body text-black-50 text-center" style="background-color: white; font-weight:bold; padding-left:35px">


                            <div>
                                <h4></h4>
                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.ArticleName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ArticleName)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Description)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Color)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Color)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Size)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Size)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Price)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Price)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ImgUrl)
                                    </dt>

                                    <dd>
                                        @*@Html.DisplayFor(model => model.ImgUrl)*@
                                        <img src="~/Content/img/@Model.ImgUrl" style="height:400px; width:400px"/>
                                    </dd>

                                </dl>
                            </div>
                            <p>
                                @*@Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |*@
                                @Html.ActionLink("Volver", "Index")
                            </p>


                        </div>
                    </div>
                }

            </section>
        </div>
    </div>
</body>

