@model Veterinaria.Web.Models.Pet

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<div class="card text-left">
    <div class="card-header text-center text-white bg-success">
        MedVet
    </div>
    <div class="card-body">


        @*Se cambio el @using (Html.BeginForm()) para poder incluir el new enctype para poder editar la foto*@

        @using (Html.BeginForm("Edit", "Pets", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4 class="text-center">Mascota</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    <b>@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b>@Html.LabelFor(model => model.PetType, htmlAttributes: new { @class = "control-label col-md-2" })</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PetType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PetType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b>@Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b>@Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b>@Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b>@Html.LabelFor(model => model.Race, htmlAttributes: new { @class = "control-label col-md-2" })</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Race, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Race, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b>@Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b>@Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label col-md-2" })</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-2"><b>Fotografía</b></label>
                    <div class="col-md-10">
                        <input type="file" name="hpb" value="" class="form-control" />
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-success" />

                        <a href="@Url.Action("Index","Pets")" class="btn btn-outline-success">Regresar</a>
                    </div>
                </div>
            </div>

        }

        @*<div>
            @Html.ActionLink("Regresar", "Index")

        </div>*@



    </div>
    <div class="card-footer text-muted text-center text-white bg-success">
        MedVet
    </div>
</div>





